.about-us-container {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.section {
    background-color: #DDBEA9; /* Example background color */
    border-radius: 40px;
    padding: 2em;
    margin-bottom: 2em;
    width: 80%; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.about-us-container, .section, .who-we-are, .our-vision, .our-mission, .meet-our-team, .team-members, .team-member {
  position: relative;
}

.team-member-photo,.team-member-name-photo{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.team-members {
    display: flex;
    flex-wrap: wrap; /* Allows the items to wrap as needed */
    justify-content: center;
    gap: 2em;
}

.team-member {
    text-align: center;
    position: relative;
    width: 120px; 
    height: 120px;
    border-radius: 50%;
    margin: 10px; /* Adds some space around each team member */
}

.team-member img {
    border-radius: 50%;
    width: 120px; 
    height: 120px; 
    object-fit: cover;
    border: 3px solid #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    transition: opacity 0.5s ease;
}



.team-member:hover .team-member-name {
    display: block;
}
  
.team-member-photo {
  opacity: 1;
}

.team-member-name-photo {
  opacity: 0;
}

.team-member:hover .team-member-photo {
  opacity: 0;
}

.team-member:hover .team-member-name-photo {
  opacity: 1;
}
  
